/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(45deg, #1f3c64, #3b5998, #8e44ad, #3498db);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
    position: relative;
    z-index: 1;
}

/* Particles Background */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px;
    background-color: rgba(44, 62, 80, 0.8); /* Semi-transparent overlay */
    color: white;
    position: relative;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    animation: fadeIn 3s ease-out;
}

.hero p {
    font-size: 1.2em;
    animation: fadeIn 3s ease-out 1s;
}

.hero button {
    margin-top: 20px;
    animation: fadeIn 3s ease-out 2s;
}

/* Navigation Bar */
nav {
    text-align: center;
    background-color: #34495e;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

/* About Section */
.about {
    padding: 50px;
    background-color: #ecf0f1;
    text-align: center;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2em;
}

/* Project Section */
.projects {
    padding: 50px;
    text-align: center;
    position: relative;
}

.projects-title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 40px;
    animation: fadeIn 3s ease-out;
}

.project-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

.project-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.project-card h3 {
    font-size: 1.5em;
    margin-top: 20px;
}

.project-card p {
    font-size: 1.1em;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #5cb85c;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
